/*GLOBAL PATCH*/
@font-face {
    font-family: "GoogleSans Regular";
    src: url('../GSR.ttf') format('truetype');
}

#page {
    background: #1c1c17;
    font-family: "GoogleSans Regular", "system-ui";
    margin: 0 !important;
    padding: 0 !important;
    color: #fff;
    position: relative;
    user-select: none;
    transition: all .2s;
}

.theme {
    color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
    width: 0.6em;
    overflow: visible;
}

::-webkit-scrollbar-track {
    width: 0.3em;
    background: linear-gradient(to right, #0000 40.01%, #313126 40.02%);
    border-radius: 0em 0 0 0.4em;
}

::-webkit-scrollbar-thumb {
    background-color: #767421;
    border-radius: 0.3em 0 0 0.3em;
    width: 0.6em;
    left: -0.3em !important;
    position: relative;
}

.loading #content {
    opacity: 0.5;
}

.loading #navbar li,
.loading .phone {
    opacity: 0.0;
    animation: none;
}
.loading #content {
    overflow: hidden;
}
.loading #navbar {
    height: 100%;
    background-color: #14140b17;
    background-size: 10%;
    animation: bigger-bg .5s;
    background-position: center;
    border-radius: 0;
    transition: all .1s;
}

button {
    position: relative;
    overflow: hidden;
    font-family: "GoogleSans Regular", "system-ui";
}

span.ripple {
    width: 100%;
    height: 100%;
    position: absolute;
    /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    left: 0%;
    top: 0;
    background-image: radial-gradient(#acb06065 0%, #ACB060 40%, #acb06000 60%);
}
button span.ripple {
    height: 160%;
    top: -30%;
}
input, input:focus{
    border: none!important;
    background-color: #74745b42;
    color: inherit;
    font-family: inherit;
    text-align: center;
    margin: auto;
    font-size: 150%;
    position: absolute;
    transition: all .2s;
    border-radius: 22rem;
}
input.banner-search{
    width: calc(16rem + 5%);
    height: 3rem;
    top: 8rem;
    left: calc(50% - 8rem - 2.5%);
}
/*Navigation Bar*/

#navbar {
    background-color: #484741da;
    background-image: url(../assets/mipmap/wlee.png);
    background-size: 3.5em;
    width: 100%;
    backdrop-filter: blur(0.3em);
    height: 4.6em;
    border-radius: 0 0 1em 1em;
    z-index: 2046;
    position: sticky;
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    top: 0;
    transition: all .5s;
    background-repeat: no-repeat;
    background-position: 1em center;
}

.navbar-toggler {
    display: none;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: auto;
    margin-top: 0.7em;
    margin-right: 0.7em;
}

.nav-link:-webkit-any-link {
    color: #fff !important;
    text-decoration-line: none;
    font-weight: bolder;
}

#navbar li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 0.5em 0.5em;
    color: #fff !important;
    font-weight: bold;
    font-size: larger;
}

#navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}
.banner {
    width: 100%;
    height: 27em;
    border-radius: 1em;
    background: #31312B;
    margin-top: 1em;
    position: relative;
    overflow: hidden;
    transition: all .2s;
}

#content {
    width: calc(100% - 36px);
    padding: 18px;
    z-index: 2;
    position: relative;
    transition: all .5s;
}
.banner .banner-title {
    text-align: center;
    width: 100%;
    top: 2rem;
    font-size: 200%;
    position: absolute;
    font-weight: bold;
    transition: all .2s;
}
.banner .banner-subtitle {
    text-align: center;
    width: 100%;
    top: 5rem;
    font-size: 150%;
    position: absolute;
    font-weight: normal;
    transition: all .2s;
}