/* Adapt To Mobile*/
@media only screen and (min-width: 907px) {

}
@media only screen and (max-width: 907px) {
    .banner.banner1 .title {
        top: 40%;
    }

    .banner.banner1 .subtitle {
        width: 50%;
        top: 50%;
    }

    .loading #navbar {
        background-size: 17%;
    }
}

@media only screen and (max-width: 537px) {
    .banner.banner1 .subtitle {
        width: 90%;
        top: 50%;
    }

    .loading #navbar {
        background-size: 20%;
    }

    .banner1 .phone {
        animation: none;
        top: -8rem;
        transition: all .5s;
    }
}

@media only screen and (max-width: 358px) {
    .banner.banner1 .title {
        top: 30%;
    }
}

@media only screen and (max-width: 780px) {

    .advantages .container-grid,
    .download .container-grid {
        grid-template-columns: 50% 50%;
    }

    .advantages {
        height: 46em;
    }
}

@media only screen and (max-width: 420px) {

    .advantages .container-grid,
    .download .container-grid {
        grid-template-columns: 100%;
    }

    .advantages {
        height: 82em;
    }
}

@media only screen and (max-width: 420px) {

    .advantages .container-grid,
    .download .container-grid {
        grid-template-columns: 100%;
    }

    .advantages {
        height: 82em;
    }
}